In [3]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame({
    "Year": np.arange(2001, 2011),
    "Rainfall": 200 + 30*np.random.randn(10), 
    "RH": np.random.randint(0, 99, 10),
    "Temp_delta": np.random.randn(10)
})

In [42]:
indices = np.random.randint(0,10,3)
indices

array([8, 9, 3])

In [43]:
df.loc[indices, 'Temp_delta'] = np.nan

In [44]:
df

   Year    Rainfall  RH  Temp_delta
0  2001  188.586693  70    0.239424
1  2002  206.783427  45   -2.243105
2  2003  226.252600  11   -0.373869
3  2004  231.277663  18         NaN
4  2005  177.985230  10    0.258539
5  2006  152.768262  92   -1.080602
6  2007  213.649439  62    0.446378
7  2008  191.962184  51    0.395245
8  2009  176.512001  45         NaN
9  2010  204.307716  73         NaN

In [45]:
df.style.highlight_max()

In [151]:
df.style.highlight_max(color='green')

In [46]:
df.style.highlight_min()

In [47]:
df.style.highlight_null(null_color='red')

In [49]:
df.style.format(na_rep='not found')

In [50]:
df.style.background_gradient()

In [54]:
df.style.bar()

In [160]:
df.style.bar(subset="Rainfall", color="blue").bar(subset="RH", color="green").bar(subset="Temp_delta", color="red")

In [147]:
df.style.format(precision = 3)

In [163]:
df.style.format({"Rainfall":"{:.2f}",
                 "Temp_delta":"{:.3f}",
                 "RH":"{}%"})

In [150]:
df.style.format({"RH": "{}%"})

In [152]:
df.style.format({"Year": lambda x:x+10})

In [158]:
df.style.applymap(lambda x:f"color:{'red' if x<2005 else 'blue'}")

In [170]:
def func(s):
    r = s<2000
    return ["background-color:red" if i else "background-color:blue" for i in r]

In [183]:
def func1(s):
    if 'Year' in s.name:
        r = s<2005
        return ["background-color:red" if i else "background-color:blue" for i in r] 
    else:
        return ["background-color:None" for i in s]

In [184]:
df.style.apply(func1)

In [132]:
styles = [
    dict(selector="tr:hover",
                props=[("background", "darkgray")]),
    
    dict(selector="th", 
            props = [
                    ("color", "white"),
                    ("background", "blue"),
                    ("border", "1px solid black"),
                    ("padding", "10px 20px"),
                    ("text-transform", "uppercase"),
                    ("font-size", "15px"),
                    ("text-align", "center")
                    ]),
    
    dict(selector="td",
            props = [("color", "black"),
                    ("border", "1px solid black"),
                    ("padding", "10px 20px"),
                    ("font-size", "13px"),
                    ("text-align", "center")]),
]

In [127]:
df.style.hide(axis='index').set_table_styles(styles)

In [51]:
properties = {'border':'1px solid black'}

In [52]:
df.style.set_properties(**properties)